* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.header{
    /* position: absolute; */
    left: 0;
    right: 0;
    height: 95px;
    margin: auto;
    background-color: #67AEFC;
    /* z-index: 1; */
}
.header_container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.main_logo {
    width: 245px;
    height: 59px;
    top: 4px;
    margin: 18px 0 17px 0;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    margin: 0;
}
.menu li{
    font-family: 'Montserrat';
    margin-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
}
.menu li:last-child{
    margin: 0;
}
.menu li a{
    color: #FFF;
    text-decoration: none;
}
.menu .order{
    width: 170px;
    height: 37px;
    background-color: #75E169;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.menu .order:hover{
    border: 2px solid #FFF;
}
.menu .order:active{
    background: #fff;
}
.menu .order a:active{
    color: #67AEFC;
}


.welcome{
    width: 100%;
    height: 766px;
    background-image: url(/img/1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.welcome_container{
    width: 1200px;
    height: 613px;
    margin: auto;
}

.welcome-title{
    width: 432px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}
.sp_bold{
    font-weight: bold;
}
.title{
    margin: 0;
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
    color: #484848;
    padding-top: 171px;
    width: 538px;
}


.green_button{
    width: 270px;
    height: 60px;
    margin-top: 38px;;
    background: #75E169;
    border-radius: 5px;
    border-color: #75e16900;
}
.green_button:hover{
    border: 2px solid #67AEFC;
}
.green_button:active{
    background: #67AEFC;
}
.btnUrl{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}


.services{
    width: 100%;
    min-height: 703px;
    margin: auto;
    background-color: #DAECFF;
    background-image: url(/img/BG.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50px;
}

.services_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #111111;
    padding-top: 100px;
    padding-bottom: 60px;
}
.services_container{
    width: 1166px;
margin: auto;
}

/* //FAQ */

  
  .accordion {
    margin-top: 20px;
    
  }
  
  .accordion .accordion-item {

    background: #FFFFFF;
    border-radius: 15px;
    margin: 5px;
    
  }
  .accordion-title{
    margin-left: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #111111;
  }
  .accordion .accordion-item button[aria-expanded="true"] .accordion-title {
    font-family: 'Montserrat-bold';
  }
  
  .accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid var(--blue);
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 400;
    border: none;
    outline: none;
    background: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: var(--blue);
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 1.5em;
  }
  .accordion button .title-icon{
    position: absolute;
    background: #75E169;
    border-radius: 45px;
    width: 24px;
    height: 24px;
    top: 21px;
    left: 15px;
  }
  .accordion .accordion-item button[aria-expanded="true"] .title-icon {
    background: #67AEFC;
  }

  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 25px;
    width: 22px;
    height: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 12px;
    left: 4px;
    width: 14px;
    height: 2px;
    transform: rotate(-45deg);
    background: currentColor;
    transition: all 200ms linear;
  }
  
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 6px;
    left: 1px;
    width: 2px;
    height: 14px;
    transform: rotate(135deg);
    background: currentColor;
    transition: all 200ms linear;
  }
  
  .accordion .accordion-item button[aria-expanded="true"] {
    color: var(--blue);
  }
  
  .accordion .accordion-item button[aria-expanded="true"] .icon::after {
    width: 2px;
    transform: rotate(45deg);
    transition: all 200ms linear;
  }
  .accordion .accordion-item button[aria-expanded="true"] .icon::before {
    width: 2px;
    transform: rotate(45deg);
    width: 14px;
    transition: all 200ms linear;
  }
  
  .accordion .accordion-item button[aria-expanded="true"] + .content {
    opacity: 1;
    max-height: 20em;
    transition: all 200ms linear;
  }
  
  .content {
    opacity: 0;
    max-height: 0;
    transition: opacity 200ms linear, max-height 200ms linear;
    padding-right: 25px;
  }
  
  .content p {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    border-left: 1px solid black;
    margin-left: 25px;
    padding-left: 25px;
  }
.content_text{
  padding-bottom: 25px;
}

 
  .stages{
    width: 100%;
    margin: 0 auto;
    height: 908px;
    background-color: #fff;
    background-image: url(/img/BG-stages.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* .services_container{
    width: 1166px;
    margin: auto;
} */
.stages_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #111111;
    padding-top: 100px;
    padding-bottom: 60px;
}
.stages_item_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.stages_item_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.stages_item{
    width: 672px;
    height: 389px;
    border: 3px solid #67AEFC;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    margin: auto;
}
.stages_info{
    width: 300px;
}
.swiper-container{
    width: 100%;
}

.stage_slider{
  display: flex;
  justify-content: space-around;
  width: 1400px;
  margin: auto;
  height: 556px;
}
.swiper-button-next, .swiper-button-prev{
  color: #000;
  width: 60px;
  height: 60px;
  border: 3px solid #67AEFC;
  border-radius: 15px;
}

.swiper-button-next, .swiper-button-prev{
  top: 90%;
  right: 44.7%;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 44.7%;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 1.7em;
}
.swiper-button-prev:hover{
  background-color: #67AEFC;
  color: #fff;
}
.swiper-button-next:hover{
  background-color: #67AEFC;
  color: #fff;
}

/* DESIGN SECTION */


.design{
  width: 100%;
  margin: 0 auto;
  height: 1749px;
  background-color: #DAECFF;
  background-image: url(/img/BG_design.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* .services_container{
    width: 1166px;
    margin: auto;
} */
.design_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #111111;
    padding-top: 100px;
    padding-bottom: 60px;
}
.design_example{
  width: 1168px;
  margin: auto;
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}



/* .testwrapper { */
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  /* left: 0;
  top: 0; */
  /* background-color: #d5d5d5; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* } */
.card {
  width: 562px;
  height: 447px;
  position: relative;
  margin: 10px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #67AEFC;
  color: #FFF;
  border-radius: 15px;
 }
.front img {
  max-width: 100%;
  min-width: 102%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}

.back_title{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}
.back_text{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #FFFFFF;
}

/* INFORMATION SECTION */

.info{
  width: 100%;
  height: 766px;
  background-image: url(/img/BG_info.png);
  background-repeat: no-repeat;
  background-size: contain;
  
}
.info_container{
  width: 1200px;
  height: 613px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-title .title{
  width: auto;
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #111;
}
.info-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #111;
}
.info_img{
  padding-top: 171px;
  width: 535px;
}

