* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.header{
    left: 0;
    right: 0;
    height: 95px;
    margin: auto;
    background-color: #67AEFC;
}
.header_container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}
.main_logo {
    width: 245px;
    height: 59px;
    top: 4px;
    margin: 18px 0 17px 0;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    margin: 0;
}
.menu li{
    font-family: 'Montserrat';
    margin-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
}
.menu li:last-child{
    margin: 0;
}
.menu li a{
    color: #FFF;
    text-decoration: none;
}
.menu .order{
    width: 170px;
    height: 37px;
    background-color: #75E169;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.menu .order:hover{
    border: 2px solid #FFF;
}
.menu .order:active{
    background: #fff;
}
.menu .order a:active{
    color: #67AEFC;
}
.menu .active a{
  border-bottom: 3px solid #fff;
  padding-bottom: 2px;
}
.welcome{
    width: 100%;
    height: 766px;
    background-image: url(/img/1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.welcome_container{
    width: 1200px;
    height: 613px;
    margin: auto;
}
.welcome-title{
    width: 432px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.sp_bold{
    font-weight: bold;
}
.title{
    margin: 0;
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;
    color: #484848;
    padding-top: 171px;
    width: 538px;
}
.green_button{
    width: 270px;
    height: 60px;
    margin-top: 38px;;
    background: #75E169;
    border-radius: 5px;
    border-color: #75e16900;
}
.green_button:hover{
    border: 2px solid #67AEFC;
}
.green_button:active{
    background: #67AEFC;
}
.btnUrl{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.services{
    width: 100%;
    min-height: 703px;
    margin: auto;
    background-color: #DAECFF;
    background-image: url(/img/BG.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50px;
}

.services_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #111111;
    padding-top: 100px;
    padding-bottom: 60px;
}
.services_container{
    width: 1166px;
margin: auto;
}

/* //FAQ */
  .accordion {
    margin-top: 20px;
  }
  .accordion .accordion-item {
    background: #FFFFFF;
    border-radius: 15px;
    margin: 5px;
  }
  .accordion-title{
    margin: 0 0 0 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #111111;
  }
  .accordion .accordion-item button[aria-expanded="true"] .accordion-title {
    font-family: 'Montserrat-bold';
  }
  
  .accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid var(--blue);
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 400;
    border: none;
    outline: none;
    background: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: var(--blue);
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 1.5em;
  }
  .accordion button .title-icon{
    position: absolute;
    background: #75E169;
    border-radius: 45px;
    width: 24px;
    height: 24px;
    top: 21px;
    left: 15px;
  }
  .accordion .accordion-item button[aria-expanded="true"] .title-icon {
    background: #67AEFC;
  }

  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 25px;
    width: 22px;
    height: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 12px;
    left: 4px;
    width: 14px;
    height: 2px;
    transform: rotate(-45deg);
    background: currentColor;
    transition: all 200ms linear;
  }
  
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 6px;
    left: 1px;
    width: 2px;
    height: 14px;
    transform: rotate(135deg);
    background: currentColor;
    transition: all 200ms linear;
  }
  
  .accordion .accordion-item button[aria-expanded="true"] {
    color: var(--blue);
  }
  
  .accordion .accordion-item button[aria-expanded="true"] .icon::after {
    width: 2px;
    transform: rotate(45deg);
    transition: all 200ms linear;
  }
  .accordion .accordion-item button[aria-expanded="true"] .icon::before {
    width: 2px;
    transform: rotate(45deg);
    width: 14px;
    transition: all 200ms linear;
  }
  
  .accordion .accordion-item button[aria-expanded="true"] + .content {
    opacity: 1;
    max-height: 60em;
    transition: all 200ms linear;
  }
 
  
  .content {
    opacity: 0;
    max-height: 0;
    transition: opacity 200ms linear, max-height 200ms linear;
    padding-right: 25px;
  }
  
  .content p {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    border-left: 1px solid black;
    margin-left: 25px;
    padding-left: 25px;
  }
.content_text{
  padding-bottom: 25px;
}

 
  .stages{
    width: 100%;
    margin: 0 auto;
    height: 908px;
    background-color: #fff;
    background-image: url(/img/BG-stages.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* .services_container{
    width: 1166px;
    margin: auto;
} */
.stages_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #111111;
    padding-top: 100px;
    padding-bottom: 60px;
}
.stages_item_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.stages_item_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.stages_item{
    width: 672px;
    height: 389px;
    border: 3px solid #67AEFC;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    margin: auto;
}
.stages_info{
    width: 300px;
}
.swiper-container{
    width: 100%;
}

.stage_slider{
  display: flex;
  justify-content: space-around;
  width: 1400px;
  margin: auto;
  height: 556px;
}
.swiper-button-next, .swiper-button-prev{
  color: #000;
  width: 60px;
  height: 60px;
  border: 3px solid #67AEFC;
  border-radius: 15px;
}

.swiper-button-next, .swiper-button-prev{
  top: 90%;
  right: 44.7%;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 44.7%;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 1.7em;
}
.swiper-button-prev:hover{
  background-color: #67AEFC;
  color: #fff;
}
.swiper-button-next:hover{
  background-color: #67AEFC;
  color: #fff;
}

/* DESIGN SECTION */


.design{
  width: 100%;
  margin: 0 auto;
  height: 1749px;
  background-color: #DAECFF;
  background-image: url(/img/BG_design.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* .services_container{
    width: 1166px;
    margin: auto;
} */
.design_title{
    font-family: 'Montserrat-bold';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #111111;
    padding-top: 100px;
    padding-bottom: 60px;
}
.design_example{
  width: 1168px;
  margin: auto;
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}



/* .testwrapper { */
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  /* left: 0;
  top: 0; */
  /* background-color: #d5d5d5; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* } */
.card {
  width: 562px;
  height: 447px;
  position: relative;
  margin: 10px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #67AEFC;
  color: #FFF;
  border-radius: 15px;
 }
.front img {
  max-width: 100%;
  min-width: 102%;
  height: auto;
}
.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}
.card:hover .front {
  transform: rotateY(180deg);}
.card:hover .back {
  transform: rotateY(360deg);}

.back_title{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}
.back_text{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #FFFFFF;
}

/* INFORMATION SECTION */

.info{
  width: 100%;
  height: 766px;
  background-image: url(/img/BG_info.png);
  background-repeat: no-repeat;
  background-size: contain;
  
}
.info_container{
  width: 1200px;
  height: 613px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_img{
  display: none;
}
.info-title .title{
  width: auto;
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #111;
}
.info-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #111;
}
.info_img{
  padding-top: 171px;
  width: 535px;
}

/* CONTACTS */
.contacts{
  width: 100%;
  height: 766px;
  background-image: url(/img//BG_contact.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts_container{
  width: 470px;
  margin: auto;
}
.contact_img{
  display: none;
}
.contacts_info{
  padding-top: 100px;
}
.contacts_title{
  text-align: center;
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #111;
}
.contact-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #111;
}
.contact_form{
  margin: auto;
}
.contact_form input{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #6EB1FB;
  border-radius: 10px;
  height: 58px;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
  padding: 10px;
}
input[type=submit]{
  width: 270px;
  height: 60px;
  margin-top: 38px;;
  background: #75E169;
  border-radius: 5px;
  margin: auto;
  display: block;
  color: #FFF;;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}

input:focus::-webkit-input-placeholder {
  color: #111;
}
input:focus { 
  outline-color: #67AEFC;
}
.form__error {
  margin-top: -15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: red;
  text-align: center;
  font-size: 14px;
  display: block;
  margin-top: -20px;
  padding-bottom: 15px;
  display: none;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.footer{
  width: 100%;
  height: 470px;
  background-color: #64ABF9;
}
.footer_container{
  margin: auto;
  width: 1170px;
  padding-top: 110px;
  display: flex;
  justify-content: space-between;
}
.footer_item{
  color: #FFFFFF;
  width: 300px;
}
.footer_item a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer_item img{
  width: 100%;
  padding-bottom: 25px;
}
.social i{
  font-size: 25px;
  
}
.phones{
  vertical-align: middle;
  padding-top: 20px;
}
.phones i{
  padding-bottom: 20px;
}
.mail{
  padding-top: 20px;
}
.copyright{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 120px;
}
.social{
  display: flex;
  justify-content: space-between;
}
.menu__mobile {
  display: none;
}

@media screen and (max-width: 1280px){
  .welcome_container{
    padding: 0 80px 0 80px;
  }
  .welcome{
    height: auto;
  }
  .welcome-title .title{
    padding-top: 110px;
  }
  .services_container{
    padding: 0 80px 0 80px;
  }
  .services_title{
    padding: 60px 0 40px 0;
  }
  .stages{
    height: auto;
  }
  .stages_container{
    padding: 40px 80px 40px 80px;
  }
  .stages_title{
    padding: 0;
  }
  .stage_slider{
    width: 100%;
    padding: 0 80px 0 80px;
  }
  .stages_item{
    width: 510px;
  }
  .stages_item_img{
    width: 55%;
    margin: auto;
  }
  .stages_item_title{
    font-size: 18px;
    line-height: 24px;
  }
  .stages_item_text{
    font-size: 16px;
    line-height: 20px;
  }
  .swiper-button-next{
    right: 42.7%;
  }
  .swiper-button-prev{
    left: 42.7%;
  }
  .swiper-button-next, .swiper-button-prev {
    top: 83%;
  }

  .design{
    height: auto;
  }
  .design_container{
    padding: 40px 80px 60px 80px;
  }
  .design_example{
    width: 100%;
  }
  .design_title{
    padding: 0 0 20px 0;
  }
  .card{
    width: 512px;
    height: 410px;
  }
  .info{
    height: auto;
  }
  .info_img{
    padding: 0;
  }
  .info-title .title{
    padding: 0;
  }
  .info_container{
    padding: 0 80px 0 80px;
  }
  .footer_container{
    padding: 80px 80px 0 80px;
  }
  .contacts_container{
    padding: 40px 0 60px 0;
  }
  .contacts{
    height: auto;
  }
  .contacts_info{
    padding: 0;
  }

}

@media screen and (max-width: 769px){

  .header{
    height: 49px;
  }
  .header_container{
    width: auto;
    display: block;
  }
  .mobile_logo{
    width: 136px;
    height: 35px;
    margin-left: 8px;

  }
  .mobile_logo img{
    width: 136px;
    height: 35px;
  }

.menu__desktop {
  display: none;
}
.main_logo{
  display: none;
}
.menu__mobile {
  display: flex;
  flex-direction: column;
}
.menu-item{
  width:auto;
  text-align: center;
}
.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: none;
  text-align: center;
  background-color: #67AEFC;
  height: 300px;
}
.menu li {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 50px;
}
.menu li:last-child{
  display: none;
}
.menu a {
  margin: 0;
}

.menu__burger {
  display: block;
  overflow: hidden;
  cursor: pointer;
  margin: 0 5px 4px;
  padding: 0;
  width: 65px;
  height: 44px;
  font-size: 0;
  position: relative;
}
.menu__burger span {
  display: block;
  position: absolute;
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  top: 18px;
  left: 23px;
  right: 23px;
  transition: background 0s 0.3s;  
}
.menu__burger span:after,
.menu__burger span:before  {
  position: absolute;
  display: block;
  height: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  content: '';
  transition-duration: 0.3s, 0.3s;  
  transition-delay: 0.3s, 0s;
}
.menu__burger span:after {
  right: -23px;
}
.menu__burger span:before {
  left: -23px;
}  
.welcome_container{
  width: 100%;
  padding: 0 20px 0 20px;
}
.welcome{
  background-image: url(/img/ill.png);
  height: 686px;
}
.welcome-title{
  width: auto;
}
.welcome-title .title{
  padding-top: 320px;
}
.title{
 width: auto;
 text-transform: uppercase;
 font-size: 27px;
 line-height: 32px;
}
.green_button{
  width: 100%;
}
.services_container{
  width: 100%;
  padding: 0 20px 0 20px;
}
.services_title{
  padding: 20px 0 0 0;
  font-size: 24px;
line-height: 30px;
}
.services{
  background-size: cover;
  height: auto;
  min-height: auto;
}
.accordion-title{
  width: 310px;
}
.stages_container{
  padding: 0 20px 0 20px;
}
.stages_title{
  padding: 20px 0 20px 0;
}
.stage_slider{
  width: 100%;
  height: 696px;
  padding: 0 20px 15px 20px;

}
.stages_item{
  width: 340px;
  height: 596px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}
.stages_item_title{
  font-size: 21px;
  line-height: 26px;
}
.stages_item_text{
  font-size: 18px;
  line-height: 25px;

}
.stages_info{
  margin: 0 auto;

}
.stages_item_img{
  margin: 0 auto;
  width: 90%;
}
.swiper-button-next{
 right: 26%;
 top: 94%;
}

.swiper-button-prev{
  left: 26%;
  top: 94%;
}
.design{
  height: auto;
}
.design_title{
  padding: 20px 0 10px 0;
  margin: 0;
  line-height: 34px;
}
.design_container{
  width: 100%;
}
.design_example{
  width: 100%;
  height: auto;
}
.card{
  width: 335px;
  height: 260px;
}
.info_container{
  width: 100%;
  display: block;
  padding: 20px 20px 40px 20px;
  height: auto;
}
.order_img{
  display: block;
  width: 100%;
  margin: auto;
}
.send{
  width: 100%;
}
.info_img{
  display: none;
}
.info-title .title{
  padding-top: 20px;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
}
.info-text{
  text-align: left;
  font-size: 17px;
  line-height: 30px;
}
.info_container .green_button{
  margin-top: 18px;
}
.contacts{
  background-color: #DAECFF;
  background-image: none;
  height: 820px;
}
.contacts_container{
  width: 100%;
  padding: 0 20px 0 20px;
}
.contacts_title{
  font-size: 23px;
  line-height: 34px;
}
.contacts_info{
  padding-top: 20px;
}
.contact-text{
  font-size: 17px;
  line-height: 30px;
}
.contact_img{
  display: block;
  width: 100%;
  margin: auto;
  padding: 25px;
}

.footer{
  height: auto;
}
.footer_container{
 width: 100%;
 padding: 40px 25px 0 25px; 
 flex-wrap: wrap;
 justify-content:center;
}
.social{
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}
.social i{
  font-size: 30px;
}
.footer_item .phones a{
  font-size: 16px;
  line-height: 22px;
  padding-left: 15px;
  vertical-align: middle;
}
.phones i{
  font-size: 30px;
  padding-left: 28px;
}
.mail{
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.copyright{
  padding: 30px 50px 50px 50px;
  font-size: 14px;
  line-height: 20px;

}

}

/* TOP SCROLL */
#top_button {
  display: inline-block;
  background-color: rgb(185, 140, 189);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#top_button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#top_button:hover {
  cursor: pointer;
  background-color: #75E169;
}
#top_button.show {
  opacity: 1;
  visibility: visible;
}